.bg {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(24, 100, 116, 1) 100%
  );
}
.col-md-10 {
  background: rgb(231, 234, 238);
}
.Admin-Dashboard {
  padding-top: 10%;
}
